@import "@/assets/styles/style.scss";

.wrapper {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 4rem auto;
    grid-template-columns: auto;
    min-width: 25rem;
    max-width: 90rem;
    margin-top: 10vh;
    border-radius: 0.5rem;
    font-size: $font-size--medium;
    background-color: $color-secondary;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.2);

    .header {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr min-content;
        align-items: center;
        justify-content: space-between;
        padding-left: 2rem;
        background-color: $color-primary;
        color: $color-secondary;

        .chat-name {
            overflow-x: hidden;
            white-space: nowrap;
        }

        .button-leave {
            border-color: $button-leave--hover;
            border-radius: 0;
            
            &:hover {
                background-color: $button-leave--hover;
                color: $color-primary;
            }
        }
    }

    .main {
        display: grid;
        box-sizing: border-box;
        grid-template-areas:
            "users messages"
            "message-input message-input";
        grid-template-rows: minmax(20rem, 40rem) 1fr;
        grid-template-columns: minmax(15rem, 20rem) minmax(20rem, 1fr);
        row-gap: 2rem;
        padding: 2rem;
    }

    @media screen and (max-width: $bp--500) {
        .main {
            grid-template-areas:
                "messages"
                "message-input"
                "users";
            grid-template-rows: minmax(20rem, 39rem) 1fr auto;
            grid-template-columns: 1fr;
            padding-right: 2vw;
            padding-left: 2vw;
        }

        .prefix {
            display: none;
        }
    }

    @media screen and (max-width: $bp--500) {
        margin-top: 0;
    }

    @media screen and (max-width: $bp--300) {
        .header {
            padding-left: 2vw;    
        }
    }
}

.collapsed {
    height: 0;
}
