$font-family--primary: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;

$font-size--small: 1.4rem;
$font-size--medium: 1.6rem;
$font-size--large: 1.8rem;

$grey: #dcdfe6;

$color-primary: #409eff;
$color-secondary: #ffffff;

$text-color--primary: #303133;
$text-color--secondary: #909399;

$bg-color--base: #f5f7fa;
$border-color--lighter: #ebeef5;
$button-leave--hover: #d9ecff;
$scrollbar-thumb-color: $grey;
$scrollbar-track-color: $color-secondary;
$user-item-bg-color: #ebeef5;
